@font-face {
    font-family: MontserratMedium;
    src: url(./fonts/Montserrat-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: MontserratBold;
    src: url(./fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

*,::before,::after{padding:0;margin:0;border:0;box-sizing:border-box}
a{text-decoration:none;color:#000;font-family: MontserratMedium;}
input{font-family: MontserratMedium;}
button{font-family: MontserratMedium;}
ul,ol,li{list-style:none}
input{outline: none;}
img{vertical-align:top}
h1,h2,h3,h4,h5,h6{font-weight:inherit;font-size:inherit}
html,body{height:100%;line-height:1;}

// vars


$mediumLogo: 19px 58px 17px 58px;
$smallLogo: 12px 27px 10px 27px;

@mixin txt18px($weight) {
    font-style: normal;
    font-weight: $weight;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

@mixin txt36px($weight) {
    font-style: normal;
    font-weight: $weight;
    font-size: 36px;
    line-height: 44px;
    color: white;
}

@mixin txt36pxSmall($weight) {
    font-size: 23px;
    font-style: normal;
    font-weight: $weight;
    line-height: 44px;
    color: white;
}

@mixin btn() {
    width: 243px;
    height: 58px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

@mixin smallBtn() {
    width: 181px;
    height:43.2px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

@mixin yellowBtn() {
    width: 16.675%;
    aspect-ratio: 243 / 118;
    padding-left: 1.8%;
    background-color: #ECB235;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8.05%;
    position: absolute;
    font-size: 14px;
    transform: translateY(-50%);
    button {background: transparent;}

    @media(max-width:991.98px) {
        & {
            font-size: 11px;

            img {
                width: 20%;
            }
        }
    }
    @media(max-width:767.98px) {
        & {
            font-size: 9px;
            padding-left: 3%;
            width: 28.675%;
        }
    }
}




// global

body {
    font-family: MontserratMedium;
    .wrapper {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        .main {
            flex: 1 1 auto;
        }
    }
}

[class*="__container"] {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

/* PC */
@media(max-width: 1200px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
/* Tablets */
@media(max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
/* Phones */
@media(max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

.lock {
    overflow: hidden;
}



// header

.header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;

    .header__container {
        display: flex;
        align-items: center;

        height: 122px;

        .header__logo {
            margin-right: auto;
            padding: 26px 101px 23px 79px;

            position: relative;
            transition: 0.8s;
            left: 0;

            background-color: #E9E9E9;

            @media(max-width: 1200px) {
                & {
                    padding: $mediumLogo;
                }
            }

            @media(max-width: 991.98px) {
                & {
                    padding: $smallLogo;
                }
                &.active {
                    left: -100%;
                    margin-right: 0;
                }
            }
        }

        .header__right {
            display: flex;
            align-items: center;
            font-size: 14px;

            .header__menu {
            display: flex;
            gap: 37.5px;
            
            .menu__ucet-mena {
                display: none;

                .menu__mena {
                    display: flex;
                    align-items: center;
                    gap: 11px;

                    &::after {
                        content: "";
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        border-bottom: white 1.2px solid;
                        border-left: white 1.2px solid;
                        transform: rotate(-45deg) translate(-3px, -6px);
                        padding-bottom: 2px;
                    }
                }

                @media(max-width: 991.98px) {
                    & {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;
                    }
                }
            }

            .produkty {
                display: flex;
                align-items: center;
                gap: 11px;

                    &::after {
                        content: "";
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        border-bottom: white 1.2px solid;
                        border-left: white 1.2px solid;
                        transform: rotate(-45deg) translate(-3px, -6px);
                        padding-bottom: 2px;
                    }
            }

            @media(max-width: 1200px) {
                & {
                    gap: 18px;
                }
            }

            @media(max-width: 991.98px) {
                & {
                    position: fixed;
                    left: -100%;
                    top: 120px;
                    gap: 0;
                    flex-direction: column;
                    background-color: rgba($color: #000000, $alpha: 0.8);
                    color: white;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s;
                }
                @media(max-width:767.98px) {
                    & {
                        top: 72px;
                    }
                }

                .menu__item {
                    margin: 1rem 0;

                    .menu__link {
                        color: white;
                    }
                }

                &.active {
                    left: 0;
                }
            }
            }

            .header__form {
                display: flex;
                align-items: center;
                position: relative;
                left: 0;

                margin-left: 77px;
                padding: 11px;

                border-bottom: 1.5px solid #C9C9C9;

                .form__input {
                    width: 274px;
                    transition: 1s;
                }

                button {
                    background-color: transparent;
                    outline: none;
                }


                @media(max-width: 1317px) {
                    & {
                        margin-left: 50px;
                    }

                    .form__input {
                        width: 180px;
                    }
                }

                @media(max-width:1200px) {
                    & {
                        margin-left: 22px;
                    }
                }

                @media(max-width:767.98px) {
                    & {
                        border-radius: 60px;
                        background-color: #E9E9E9;
                        border: 0;
                        margin-left: 0;
                    }

                    &.active {
                        left: -30px;
                    }

                    .form__input {
                        width: 0;
                        background-color: transparent;
                        float: right;
                    }
                    .form__input.active {
                        width: 130px;                    }
                }
            }

            .header__triple-icons {
                display: flex;
                gap: 36px;
                align-items: center;

                margin-left: 44px;

                .header__kosik {
                    gap: 10px;
                }

                .header__mena, .header__kosik, .header__ucet {
                    display: flex;
                    align-items: center;
                }

                .header__mena {
                    gap: 11px;
                    &::after {

                        content: "";
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        border-bottom: #000 1.2px solid;
                        border-left: #000 1.2px solid;
                        transform: rotate(-45deg) translate(-3px, -6px);
                        padding-bottom: 2px;
                    }
                }

                @media(max-width:1200px) {
                    & {
                        gap: 10px;

                        margin-left: 18px;
                    }

                    .header__kosik {
                        gap: 3px;
                    }
                }
                @media(max-width: 991.98px) {
                    .header__ucet, .header__mena {
                        display: none;
                    }
                }

                @media(max-width: 767.98px) {
                    & {
                        margin-left: 0;
                    }
                }
            }

            .header__burger {
                display: none;
                cursor: pointer;

                .burger__bar {
                    display: block;

                    width: 49px;
                    height: 2px;

                    -webkit-transform: all 0.3s ease-in-out;
                    transform: all 0.3s ease-in-out;
                    background-color: #000;

                    &:first-child {
                        margin-bottom: 10px;
                    }
                }

                @media (max-width: 991.98px) {
                    & {
                        display: block;
                    }

                    &.active .burger__bar:nth-child(1) {
                        transform: translateY(8px) rotate(45px)
                    }
                    &.active .burger__bar:nth-child(2) {
                        transform: translateY(-8px) rotate(-45px)
                    }
                }
            }

            @media(max-width: 991.98px) {
                & {
                    gap: 13px;
                }
            }
        }

        @media(max-width: 767.98px) {
            & {
                height: 72px;
            }
        }
    }
}

// main////////////////////////////////////////////////////////////////////



// big-pic//////////////////////////

.big-pic {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 46px;

    .big-pic__container {
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .big-pic__1p {
            @include txt18px(500);
            letter-spacing: 0.18em;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        .big-pic__2p {
            @include txt36px(700);
            margin-bottom: 4rem;
        }

        .big-pic__btn {
            @include btn()
        }

        @media(max-width: 767.98px) {
            .big-pic__2p {
                @include txt36pxSmall(700)
            }

            .big-pic__btn {
                @include smallBtn()
            }
        }
    }

    .swiper {
        width: 100%;
        height: 100%;

        .swiper-pagination {
            bottom: 15%;
            
            span {
                background-color: white;
            }
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

// triple-block////////////////////////////

.triple-block {
    background-color: white;
    width: 100%;
    margin-bottom: 46px;

    .triple-block__container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13px;
        width: 100%;
        height: 40vh;

        .triple-block__item {
            width: 33%;
            height: 100%;
            max-height: 466px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 27%;
            background-size: cover;
            background-repeat: no-repeat;
            &:nth-child(1) {
                background-image: url(../img/triple-block-1.jpg)
            }
            &:nth-child(2) {
                background-image: url(../img/triple-block-2.jpg)
            }
            &:nth-child(3) {
                background-image: url(../img/triple-block-3.jpg)
            }

            .triple-block__p {
                @include txt36px(700);
                text-align: center;
            }

            .triple-block__btn {
                @include btn();
                color: #000;
            }

            @media(max-width: 991.98px) {
                & {
                    width: 100%;
                    gap: 10%;
                }

                .triple-block__p {
                    @include txt36pxSmall(700)
                }
    
                .triple-block__btn {
                    @include smallBtn()
                }
            }

            @media(max-width:1200px) {
                .triple-block__p {
                    font-size: 30px;
                }

                .triple-block__btn {
                    width: 196px;
                    height: 48px;
                }
            }
        }

        @media(max-width: 991.98px) {
            flex-direction: column;
            height: 565px;
        }
    }
}


// big-sec//////////////////////////////

.big-sec {
    background: linear-gradient(180deg, #131313 58vh, white 58vh);

    .big-sec__container {
        display: flex;
        gap: 96px;
        flex-direction: column;
    }
}

// nabidka///////////////

.nabidka {
    position: relative;
            
    .nabidka__title {
        text-align: center;
        margin: 74px 0 60px 0;
        @include txt36px(500);

        @media (max-width:767.98px) {
            & {
                @include txt36pxSmall(500);
                font-size: 24px;
            }
        }
    }

    .nabidka__block {
        display: flex;
        align-items: center;
        justify-content: center;

        .nabidka__item {
            width: 25%;
            aspect-ratio: 361 / 610;
            background-size: cover;
            padding-bottom: 7.7%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-left: 1.597%;
            cursor: pointer;
            transition: 0.7s;
            background-blend-mode: lighten;
            background-size: 100%;

            &:hover {
                background-color: rgba($color: #ECB235
                , $alpha: 0.7);
                background-size: 101%;
            }

            .nabidka__h5 {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;

                color: #FFFFFF;
            }

            .nabidka__h4 {
                @include txt36px(500);
                display: flex;
                align-items: center;
                gap: 3.87%;

                .nabidka__arrow {
                    opacity: 0;
                    transition: 0.7s;
                }

                @media(max-width: 1200px) {
                    & {
                        @include txt36pxSmall(500)
                    }
                }
            }

            &:hover {
                .nabidka__arrow {
                    opacity: 1;
                }
            }

            &:nth-child(4) {
                .nabidka__h4 {
                    position: relative;

                    .nabidka__arrow {
                        position: absolute;
                        bottom: -40%;
                    }
                }
            }

            &:nth-child(1) {
                background-image: url(../img/four-one.jpg);
            }
            &:nth-child(2) {
                background-image: url(../img/four-two.jpg);
            }
            &:nth-child(3) {
                background-image: url(../img/four-three.jpg);
            }
            &:nth-child(4) {
                background-image: url(../img/four-four.jpg);
            }

            @media(max-width: 767.98px) {
                &{
                    width: 50%;
                }

                .nabidka__arrow {
                    width: 12%;
                }

                &:nth-child(3), &:nth-child(4) {
                    display: none;
                }
            }
        }
    }

    .nabidka__btn {
        @include yellowBtn();
        right: 0%;
    }
}


// zbozi///////////////

.zbozi {
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
    justify-content: center;
    align-items: center;
    gap: 61px;

    .zbozi__list {
        display: flex;
        gap: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #979797;

        .zbozi__item {
            cursor: pointer;

            &.active {
                color: black;
                font-size: 26px;
            }

            @media(max-width:767.97px) {
                &:nth-child(2), &:nth-child(3) {
                    display: none;
                }
            }
        }
    }

    .zbozi__cards {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .zbozi__card {
            aspect-ratio: 367 / 552;
            width: 24.16%;
            position: relative;
            padding: 14px 12px;
            transition: 0.3s;
            border: 1px solid transparent;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            margin-bottom: 0.7%;

            &:hover {
                .zbozi__add {
                    opacity: 1;
                }
            }

            @media(max-width:991.98px) {
                & {
                    width: 32.7%;
                    border: 1px solid #c4c4c4;
                }
            }
            @media(max-width:767.98px) {
                & {
                    width: 49.4%;
                }
            }

            &:hover {
                border: 1px solid #C4C4C4;
                box-shadow: 0.5px 0.5px 2px #c4c4c4;
            }

            .zbozi__flags {
                position: absolute;
                color: white;
                right: 3.8%;
                width: 36.6%;
                font-size: 18px;

                @media(max-width:991.98px) {
                    font-size: 12px;
                }

                .zbozi__flag1, .zbozi__flag2 {
                    width: 100%;
                    height: 31px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .zbozi__flag1 {
                    margin-bottom: 9px;
                    background-color: #63DA46;
                }
                .zbozi__flag2 {
                    background-color: #F24D4D;
                }
            }

            .zbozi__img {
                width: 100%;
                aspect-ratio: 345 / 384;
                margin-bottom: 6.811%;
            }

            .zbozi__title {
                margin-bottom: auto;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;

                @media(max-width:767.98px) {
                    &{
                        font-size: 12px;
                    }
                }
            }

            .zbozi__stav {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 4%;

                &.green {
                    color: #63DA46;
                }
                &.gray {
                    color:#979797;
                }
                &.red {
                    color:#F24D4D;
                }

                @media(max-width:767.98px) {
                    &{
                        font-size: 12px;
                    }
                }
            }

            .zbozi__price {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;

                @media(max-width:767.98px) {
                    &{
                        font-size: 12px;
                    }
                }
            }

            .zbozi__add {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 16.348%;
                aspect-ratio: 1 / 1;
                background-color: #000;
                right: 3.8%;
                bottom: 3.3%;
                position: absolute;
                opacity: 0;
                transition: 0.3s;

                @media(max-width:991.98px) {
                    & {
                        opacity: 1;
                    }
                }

                .zbozi__add-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    .zbozi__add-link-img {
                        width: 36.6%;
                    }
                }
            }
        }
    }

    .zbozi__btn {
        padding: 21px 41px;
        border: 1px solid black;
        background: none;
        cursor: pointer;
        font-size: 14px;
    }

    @media(max-width: 767.98px) {
        & {
            margin-bottom: 54px;
            gap: 33px;

            .zbozi__item:nth-child(2), .zbozi__item:nth-child(3) {
                display: none;
            }

            .zbozi__item {
                color: black;
                font-size: 26px;
            }
        }
    }
}


// blog////////////////////////////////////////

.blog {
    background-color: #131313;
    padding: 5.27% 0 8.541% 0;
    
    .blog__container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        position: relative;
        
        .blog__title {
            margin-bottom: 4.305%;
            @include txt36px(500);
            @media(max-width:767.98px) {
                @include txt36pxSmall(500);
            }
        }

        .blog__block {
            display: flex;
            flex-wrap: wrap;
            width: 100%;


            .blog__item {
                color: white;
                width: 100%;
                &:not(:last-child) {
                    aspect-ratio: 480 / 336;
                }
                &:nth-child(5) {
                    aspect-ratio: 960 / 336;
                }
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-left: 2.7%;
                padding-bottom: 2.38%;
                cursor: pointer;
                transition: 0.7s;
                background-size: 100%;
                background-blend-mode: lighten;

                &:nth-child(1) {
                    background-image: url(../img/five-one.jpg);
                }
                &:nth-child(2) {
                    background-image: url(../img/five-two.jpg);
                }
                &:nth-child(3) {
                    background-image: url(../img/five-three.jpg);
                }
                &:nth-child(4) {
                    background-image: url(../img/five-four.jpg);
                }
                &:nth-child(5) {
                    background-image: url(../img/five-five.jpg);
                }

                img{
                    margin-right: 0.713%;
                }

                .blog__h6 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    @media(max-width:767.98px) {
                        font-size: 12px;
                    }
                }

                .blog__h5 {
                    display: flex;
                    align-items: center;
                    gap: 2.569%;
                    @include txt36px(500);

                    .blog__arrow {
                        opacity: 0;
                        transition: 0.7s;
                    }

                    @media(max-width: 991.98px) {
                        font-size: 24px;
                    }
                }

                .blog__parag {
                    display: flex;
                    align-items: center;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    @media(max-width:767.98px) {
                        font-size: 12px;
                    }
                }

                &:hover {
                    background-color: rgba($color: #ECB235, $alpha: 0.7);
                    background-size: 101%;

                    .blog__arrow {
                        opacity: 1;
                    }
                }

                @media(min-width: 767.98px) {
                    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                        width: 33.33%;
                        aspect-ratio: 480 / 336;
                        .blog__arrow {
                            width: 10%;
                        }
                    }
                    &:nth-child(5) {
                        width: 66.6%;
                        .blog__arrow {
                            width: 5%;
                        }
                    }
                }

                @media(max-width: 767.98px) {

                    &:nth-child(3), &:nth-child(5) {
                        display: none;
                    }
                }
            }
        }

        .blog__btn {
            @include yellowBtn();
            
            
            transform: translateY(50%);
            align-self: flex-end;

            @media(max-width:767.98px) {
                padding-left: 3%;
            }
        }
    }
}



// vyhody////////////////////////////////////////////////////////


.vyhody {

    .vyhody__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 10.27% 15px;

        .vyhody__item {
            display: flex;
            align-items: center;
            width: 22.45%;
            @include txt18px(500);
            color: black;
            @media(max-width:1200px) {
                font-size: 14px;
            }
            @media(max-width:991.98px) {
                width: 50%;
                font-size: 12px;
            }
            @media(max-width:767.98px) {
                font-size: 9px;
                line-height: 15px;
            }

            &:nth-child(1)::after, &:nth-child(2)::after, &:nth-child(3)::after {
                content: "";
                height: 119px;
                width: 1px;
                background-color: #C4C4C4;
                display: inline-block;
                margin-left: 17.38%;
                @media(max-width:991.98px) {
                    display: none;
                }
            }

            &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                margin-left: 3.4%;
                @media(max-width:991.98px) {
                    margin-left: 0;
                }
            }

            &:nth-child(1), &:nth-child(2) {
                @media(max-width: 991.98px) {
                    margin-bottom: 8.53%;
                }
            }

            img {
                margin-right: 5.68%;
                width: 60px;
                aspect-ratio: 1 / 1;
                @media(max-width:767.98px) {
                    width: 30px;
                }
            }
        }
    }
}


// contact///////////////////////////////////

.contact {
    padding: 5.5% 0;
    background-color:#ECB235;
    background-image: url(../img/contact-background.svg);
    background-repeat: no-repeat;
    background-position: 29.65%;

    .contact__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .contact__title {
            @include txt36px(500);
            @media(max-width:991.98px){
                @include txt36pxSmall(500);
            }
            margin-bottom: 4.4%;
        }

        .contact__form {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 1.66%;

            .contact__input {
                width: 34.72%;
                aspect-ratio: 500 / 117;
                padding: 0 4.027%;
                @include txt18px(500);
                color: black;
                @media(max-width:991.98px) {
                    font-size: 12px;
                }
                @media(max-width:767.98px) {
                    font-size: 9px;
                }
            }

            .contact__btn {
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 243 / 117;
                padding: 0 3.472%;
                width: 16.875%;
                background-color: #131313;
                color: white;
                gap: 19.34%;
                font-size:  14px;
                cursor: pointer;
                @media(max-width:767.98px) {
                    font-size: 8px;
                }


                img {
                    width: 19.753%;
                    aspect-ratio: 48 / 14;
                    @media(max-width:991.98px) {
                        font-size: 12px;
                    }
                    @media(max-width:767.98px) {
                        font-size: 9px;
                    }
                }
            }
        }
    }
}


// footer//////////////////////////////////////////////////////////////


.footer {
    background-color: #131313;
    padding: 5.972% 0 5.2% 0;
    font-weight: 500;
    
    
    .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media(max-width:767.98px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .footer__logo {
            width: 223px;
            aspect-ratio: 223 / 66;
            background-color: white;
            color: #6B6B6B;
            display: flex;
            align-items: center;
            justify-content:center;
            margin-bottom: 6.267%;
        }

        .footer__big-block {
            display: flex;
            gap: 3.4%;
            color: white;
            font-size: 18px;
            font-weight: 500;
            width: 100%;
            margin-bottom: 8.819%;

            @media(max-width:991.98px) {
                font-size: 12px;
            }
            @media(max-width:767.98px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .footer__list {
                line-height: 31px;
                @media(max-width:767.98px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 7.2%;
                }

                &:nth-child(3) {
                    margin-right: auto;
                    @media(max-width:767.98px) {
                        margin-right: 0;
                    }
                }

                .footer__list-item:first-child {
                    font-family: MontserratBold;
                    margin-bottom: 14.134%;
                }

                &:last-child {
                    .footer__list-item:not(:first-child) {
                        margin-bottom: 7.29%;
                        .footer__phone, .footer__mail {
                            display: flex;
                            align-items: center;
                            gap: 5.839%;
                        }
                    }

                    a {
                        color: white;
                    }
                }
            }
        }

        .footer__down-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            font-size: 18px;
            @media(max-width:991.98px) {
                font-size: 12px;
            }
            @media(max-width:767.98px) {
                flex-direction: column;
                gap: 18px;
            }
            a {
                color: white;
            }

            .footer__copyright {
                
            }

            .footer__who-made {
                display: flex;
                align-items: center;
                gap: 12px;

                .footer__miranda {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
            }
        }
    }
}