@font-face {
  font-family: MontserratMedium;
  src: url(./fonts/Montserrat-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: MontserratBold;
  src: url(./fonts/Montserrat-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* line 14, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
*, ::before, ::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* line 15, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
a {
  text-decoration: none;
  color: #000;
  font-family: MontserratMedium;
}

/* line 16, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
input {
  font-family: MontserratMedium;
}

/* line 17, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
button {
  font-family: MontserratMedium;
}

/* line 18, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
ul, ol, li {
  list-style: none;
}

/* line 19, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
input {
  outline: none;
}

/* line 20, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
img {
  vertical-align: top;
}

/* line 21, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* line 22, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
html, body {
  height: 100%;
  line-height: 1;
}

/* line 107, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
body {
  font-family: MontserratMedium;
}

/* line 109, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
body .wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* line 114, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
body .wrapper .main {
  flex: 1 1 auto;
}

/* line 120, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
[class*="__container"] {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

/* PC */
@media (max-width: 1200px) {
  /* line 128, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  [class*="__container"] {
    max-width: 970px;
  }
}

/* Tablets */
@media (max-width: 991.98px) {
  /* line 134, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  [class*="__container"] {
    max-width: 750px;
  }
}

/* Phones */
@media (max-width: 767.98px) {
  /* line 140, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  [class*="__container"] {
    max-width: none;
  }
}

/* line 145, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.lock {
  overflow: hidden;
}

/* line 153, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
}

/* line 159, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container {
  display: flex;
  align-items: center;
  height: 122px;
}

/* line 165, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__logo {
  margin-right: auto;
  padding: 26px 101px 23px 79px;
  position: relative;
  transition: 0.8s;
  left: 0;
  background-color: #E9E9E9;
}

@media (max-width: 1200px) {
  /* line 176, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__logo {
    padding: 19px 58px 17px 58px;
  }
}

@media (max-width: 991.98px) {
  /* line 182, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__logo {
    padding: 12px 27px 10px 27px;
  }
  /* line 185, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__logo.active {
    left: -100%;
    margin-right: 0;
  }
}

/* line 192, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right {
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* line 197, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__menu {
  display: flex;
  gap: 37.5px;
}

/* line 201, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__menu .menu__ucet-mena {
  display: none;
}

/* line 204, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__menu .menu__ucet-mena .menu__mena {
  display: flex;
  align-items: center;
  gap: 11px;
}

/* line 209, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__menu .menu__ucet-mena .menu__mena::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-bottom: white 1.2px solid;
  border-left: white 1.2px solid;
  transform: rotate(-45deg) translate(-3px, -6px);
  padding-bottom: 2px;
}

@media (max-width: 991.98px) {
  /* line 222, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__menu .menu__ucet-mena {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

/* line 231, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__menu .produkty {
  display: flex;
  align-items: center;
  gap: 11px;
}

/* line 236, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__menu .produkty::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-bottom: white 1.2px solid;
  border-left: white 1.2px solid;
  transform: rotate(-45deg) translate(-3px, -6px);
  padding-bottom: 2px;
}

@media (max-width: 1200px) {
  /* line 249, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__menu {
    gap: 18px;
  }
}

@media (max-width: 991.98px) {
  /* line 255, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__menu {
    position: fixed;
    left: -100%;
    top: 120px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  /* line 269, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__menu {
    top: 72px;
  }
}

@media (max-width: 991.98px) {
  /* line 274, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__menu .menu__item {
    margin: 1rem 0;
  }
  /* line 277, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__menu .menu__item .menu__link {
    color: white;
  }
  /* line 282, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__menu.active {
    left: 0;
  }
}

/* line 288, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__form {
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  margin-left: 77px;
  padding: 11px;
  border-bottom: 1.5px solid #C9C9C9;
}

/* line 299, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__form .form__input {
  width: 274px;
  transition: 1s;
}

/* line 304, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__form button {
  background-color: transparent;
  outline: none;
}

@media (max-width: 1317px) {
  /* line 311, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__form {
    margin-left: 50px;
  }
  /* line 315, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__form .form__input {
    width: 180px;
  }
}

@media (max-width: 1200px) {
  /* line 321, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__form {
    margin-left: 22px;
  }
}

@media (max-width: 767.98px) {
  /* line 327, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__form {
    border-radius: 60px;
    background-color: #E9E9E9;
    border: 0;
    margin-left: 0;
  }
  /* line 334, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__form.active {
    left: -30px;
  }
  /* line 338, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__form .form__input {
    width: 0;
    background-color: transparent;
    float: right;
  }
  /* line 343, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__form .form__input.active {
    width: 130px;
  }
}

/* line 348, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__triple-icons {
  display: flex;
  gap: 36px;
  align-items: center;
  margin-left: 44px;
}

/* line 355, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__triple-icons .header__kosik {
  gap: 10px;
}

/* line 359, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__triple-icons .header__mena, .header .header__container .header__right .header__triple-icons .header__kosik, .header .header__container .header__right .header__triple-icons .header__ucet {
  display: flex;
  align-items: center;
}

/* line 364, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__triple-icons .header__mena {
  gap: 11px;
}

/* line 366, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__triple-icons .header__mena::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-bottom: #000 1.2px solid;
  border-left: #000 1.2px solid;
  transform: rotate(-45deg) translate(-3px, -6px);
  padding-bottom: 2px;
}

@media (max-width: 1200px) {
  /* line 380, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__triple-icons {
    gap: 10px;
    margin-left: 18px;
  }
  /* line 386, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__triple-icons .header__kosik {
    gap: 3px;
  }
}

@media (max-width: 991.98px) {
  /* line 391, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__triple-icons .header__ucet, .header .header__container .header__right .header__triple-icons .header__mena {
    display: none;
  }
}

@media (max-width: 767.98px) {
  /* line 397, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__triple-icons {
    margin-left: 0;
  }
}

/* line 403, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__burger {
  display: none;
  cursor: pointer;
}

/* line 407, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__burger .burger__bar {
  display: block;
  width: 49px;
  height: 2px;
  -webkit-transform: all 0.3s ease-in-out;
  transform: all 0.3s ease-in-out;
  background-color: #000;
}

/* line 417, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.header .header__container .header__right .header__burger .burger__bar:first-child {
  margin-bottom: 10px;
}

@media (max-width: 991.98px) {
  /* line 423, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__burger {
    display: block;
  }
  /* line 427, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__burger.active .burger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45px);
  }
  /* line 430, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right .header__burger.active .burger__bar:nth-child(2) {
    transform: translateY(-8px) rotate(-45px);
  }
}

@media (max-width: 991.98px) {
  /* line 437, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container .header__right {
    gap: 13px;
  }
}

@media (max-width: 767.98px) {
  /* line 444, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .header .header__container {
    height: 72px;
  }
}

/* line 457, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-pic {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
}

/* line 465, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-pic .big-pic__container {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 473, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-pic .big-pic__container .big-pic__1p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: white;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

/* line 480, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-pic .big-pic__container .big-pic__2p {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: white;
  margin-bottom: 4rem;
}

/* line 485, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-pic .big-pic__container .big-pic__btn {
  width: 243px;
  height: 58px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  /* line 490, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .big-pic .big-pic__container .big-pic__2p {
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    color: white;
  }
  /* line 494, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .big-pic .big-pic__container .big-pic__btn {
    width: 181px;
    height: 43.2px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
  }
}

/* line 500, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-pic .swiper {
  width: 100%;
  height: 100%;
}

/* line 504, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-pic .swiper .swiper-pagination {
  bottom: 15%;
}

/* line 507, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-pic .swiper .swiper-pagination span {
  background-color: white;
}

/* line 512, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-pic .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 520, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-pic .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 532, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.triple-block {
  background-color: white;
  width: 100%;
  margin-bottom: 46px;
}

/* line 537, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.triple-block .triple-block__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  width: 100%;
  height: 40vh;
}

/* line 545, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.triple-block .triple-block__container .triple-block__item {
  width: 33%;
  height: 100%;
  max-height: 466px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 27%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 556, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.triple-block .triple-block__container .triple-block__item:nth-child(1) {
  background-image: url(../img/triple-block-1.jpg);
}

/* line 559, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.triple-block .triple-block__container .triple-block__item:nth-child(2) {
  background-image: url(../img/triple-block-2.jpg);
}

/* line 562, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.triple-block .triple-block__container .triple-block__item:nth-child(3) {
  background-image: url(../img/triple-block-3.jpg);
}

/* line 566, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.triple-block .triple-block__container .triple-block__item .triple-block__p {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: white;
  text-align: center;
}

/* line 571, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.triple-block .triple-block__container .triple-block__item .triple-block__btn {
  width: 243px;
  height: 58px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  color: #000;
}

@media (max-width: 991.98px) {
  /* line 577, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .triple-block .triple-block__container .triple-block__item {
    width: 100%;
    gap: 10%;
  }
  /* line 582, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .triple-block .triple-block__container .triple-block__item .triple-block__p {
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    color: white;
  }
  /* line 586, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .triple-block .triple-block__container .triple-block__item .triple-block__btn {
    width: 181px;
    height: 43.2px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  /* line 592, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .triple-block .triple-block__container .triple-block__item .triple-block__p {
    font-size: 30px;
  }
  /* line 596, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .triple-block .triple-block__container .triple-block__item .triple-block__btn {
    width: 196px;
    height: 48px;
  }
}

@media (max-width: 991.98px) {
  /* line 537, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .triple-block .triple-block__container {
    flex-direction: column;
    height: 565px;
  }
}

/* line 613, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-sec {
  background: linear-gradient(180deg, #131313 58vh, white 58vh);
}

/* line 616, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.big-sec .big-sec__container {
  display: flex;
  gap: 96px;
  flex-direction: column;
}

/* line 625, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka {
  position: relative;
}

/* line 628, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__title {
  text-align: center;
  margin: 74px 0 60px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: white;
}

@media (max-width: 767.98px) {
  /* line 634, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .nabidka .nabidka__title {
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    color: white;
    font-size: 24px;
  }
}

/* line 641, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 646, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item {
  width: 25%;
  aspect-ratio: 361 / 610;
  background-size: cover;
  padding-bottom: 7.7%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1.597%;
  cursor: pointer;
  transition: 0.7s;
  background-blend-mode: lighten;
  background-size: 100%;
}

/* line 660, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item:hover {
  background-color: rgba(236, 178, 53, 0.7);
  background-size: 101%;
}

/* line 666, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item .nabidka__h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

/* line 675, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item .nabidka__h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: white;
  display: flex;
  align-items: center;
  gap: 3.87%;
}

/* line 681, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item .nabidka__h4 .nabidka__arrow {
  opacity: 0;
  transition: 0.7s;
}

@media (max-width: 1200px) {
  /* line 687, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .nabidka .nabidka__block .nabidka__item .nabidka__h4 {
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    color: white;
  }
}

/* line 694, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item:hover .nabidka__arrow {
  opacity: 1;
}

/* line 700, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item:nth-child(4) .nabidka__h4 {
  position: relative;
}

/* line 703, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item:nth-child(4) .nabidka__h4 .nabidka__arrow {
  position: absolute;
  bottom: -40%;
}

/* line 710, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item:nth-child(1) {
  background-image: url(../img/four-one.jpg);
}

/* line 713, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item:nth-child(2) {
  background-image: url(../img/four-two.jpg);
}

/* line 716, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item:nth-child(3) {
  background-image: url(../img/four-three.jpg);
}

/* line 719, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__block .nabidka__item:nth-child(4) {
  background-image: url(../img/four-four.jpg);
}

@media (max-width: 767.98px) {
  /* line 724, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .nabidka .nabidka__block .nabidka__item {
    width: 50%;
  }
  /* line 728, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .nabidka .nabidka__block .nabidka__item .nabidka__arrow {
    width: 12%;
  }
  /* line 732, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .nabidka .nabidka__block .nabidka__item:nth-child(3), .nabidka .nabidka__block .nabidka__item:nth-child(4) {
    display: none;
  }
}

/* line 739, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__btn {
  width: 16.675%;
  aspect-ratio: 243 / 118;
  padding-left: 1.8%;
  background-color: #ECB235;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8.05%;
  position: absolute;
  font-size: 14px;
  transform: translateY(-50%);
  right: 0%;
}

/* line 82, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.nabidka .nabidka__btn button {
  background: transparent;
}

@media (max-width: 991.98px) {
  /* line 85, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .nabidka .nabidka__btn {
    font-size: 11px;
  }
  /* line 88, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .nabidka .nabidka__btn img {
    width: 20%;
  }
}

@media (max-width: 767.98px) {
  /* line 94, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .nabidka .nabidka__btn {
    font-size: 9px;
    padding-left: 4%;
    width: 28.675%;
  }
}

/* line 748, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  justify-content: center;
  align-items: center;
  gap: 61px;
}

/* line 756, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__list {
  display: flex;
  gap: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #979797;
}

/* line 764, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__list .zbozi__item {
  cursor: pointer;
}

/* line 767, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__list .zbozi__item.active {
  color: black;
  font-size: 26px;
}

@media (max-width: 767.97px) {
  /* line 773, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .zbozi .zbozi__list .zbozi__item:nth-child(2), .zbozi .zbozi__list .zbozi__item:nth-child(3) {
    display: none;
  }
}

/* line 780, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/* line 787, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card {
  aspect-ratio: 367 / 552;
  width: 24.16%;
  position: relative;
  padding: 14px 12px;
  transition: 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7%;
}

/* line 800, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card:hover .zbozi__add {
  opacity: 1;
}

@media (max-width: 991.98px) {
  /* line 806, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .zbozi .zbozi__cards .zbozi__card {
    width: 32.7%;
    border: 1px solid #c4c4c4;
  }
}

@media (max-width: 767.98px) {
  /* line 812, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .zbozi .zbozi__cards .zbozi__card {
    width: 49.4%;
  }
}

/* line 817, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card:hover {
  border: 1px solid #C4C4C4;
  box-shadow: 0.5px 0.5px 2px #c4c4c4;
}

/* line 822, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__flags {
  position: absolute;
  color: white;
  right: 3.8%;
  width: 36.6%;
  font-size: 18px;
}

@media (max-width: 991.98px) {
  /* line 822, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .zbozi .zbozi__cards .zbozi__card .zbozi__flags {
    font-size: 12px;
  }
}

/* line 833, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__flags .zbozi__flag1, .zbozi .zbozi__cards .zbozi__card .zbozi__flags .zbozi__flag2 {
  width: 100%;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 840, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__flags .zbozi__flag1 {
  margin-bottom: 9px;
  background-color: #63DA46;
}

/* line 844, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__flags .zbozi__flag2 {
  background-color: #F24D4D;
}

/* line 849, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__img {
  width: 100%;
  aspect-ratio: 345 / 384;
  margin-bottom: 6.811%;
}

/* line 855, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__title {
  margin-bottom: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 767.98px) {
  /* line 863, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .zbozi .zbozi__cards .zbozi__card .zbozi__title {
    font-size: 12px;
  }
}

/* line 869, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__stav {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 4%;
}

/* line 876, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__stav.green {
  color: #63DA46;
}

/* line 879, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__stav.gray {
  color: #979797;
}

/* line 882, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__stav.red {
  color: #F24D4D;
}

@media (max-width: 767.98px) {
  /* line 887, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .zbozi .zbozi__cards .zbozi__card .zbozi__stav {
    font-size: 12px;
  }
}

/* line 893, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__price {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 767.98px) {
  /* line 900, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .zbozi .zbozi__cards .zbozi__card .zbozi__price {
    font-size: 12px;
  }
}

/* line 906, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.348%;
  aspect-ratio: 1 / 1;
  background-color: #000;
  right: 3.8%;
  bottom: 3.3%;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

@media (max-width: 991.98px) {
  /* line 920, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .zbozi .zbozi__cards .zbozi__card .zbozi__add {
    opacity: 1;
  }
}

/* line 925, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__add .zbozi__add-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* line 931, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__cards .zbozi__card .zbozi__add .zbozi__add-link .zbozi__add-link-img {
  width: 36.6%;
}

/* line 939, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.zbozi .zbozi__btn {
  padding: 21px 41px;
  border: 1px solid black;
  background: none;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 767.98px) {
  /* line 948, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .zbozi {
    margin-bottom: 54px;
    gap: 33px;
  }
  /* line 952, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .zbozi .zbozi__item:nth-child(2), .zbozi .zbozi__item:nth-child(3) {
    display: none;
  }
  /* line 956, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .zbozi .zbozi__item {
    color: black;
    font-size: 26px;
  }
}

/* line 967, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog {
  background-color: #131313;
  padding: 5.27% 0 8.541% 0;
}

/* line 971, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
}

/* line 978, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__title {
  margin-bottom: 4.305%;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: white;
}

@media (max-width: 767.98px) {
  /* line 978, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__title {
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    color: white;
  }
}

/* line 986, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* line 992, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 2.7%;
  padding-bottom: 2.38%;
  cursor: pointer;
  transition: 0.7s;
  background-size: 100%;
  background-blend-mode: lighten;
}

/* line 995, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item:not(:last-child) {
  aspect-ratio: 480 / 336;
}

/* line 998, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item:nth-child(5) {
  aspect-ratio: 960 / 336;
}

/* line 1011, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item:nth-child(1) {
  background-image: url(../img/five-one.jpg);
}

/* line 1014, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item:nth-child(2) {
  background-image: url(../img/five-two.jpg);
}

/* line 1017, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item:nth-child(3) {
  background-image: url(../img/five-three.jpg);
}

/* line 1020, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item:nth-child(4) {
  background-image: url(../img/five-four.jpg);
}

/* line 1023, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item:nth-child(5) {
  background-image: url(../img/five-five.jpg);
}

/* line 1027, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item img {
  margin-right: 0.713%;
}

/* line 1031, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item .blog__h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 767.98px) {
  /* line 1031, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__block .blog__item .blog__h6 {
    font-size: 12px;
  }
}

/* line 1041, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item .blog__h5 {
  display: flex;
  align-items: center;
  gap: 2.569%;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: white;
}

/* line 1047, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item .blog__h5 .blog__arrow {
  opacity: 0;
  transition: 0.7s;
}

@media (max-width: 991.98px) {
  /* line 1041, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__block .blog__item .blog__h5 {
    font-size: 24px;
  }
}

/* line 1057, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item .blog__parag {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 767.98px) {
  /* line 1057, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__block .blog__item .blog__parag {
    font-size: 12px;
  }
}

/* line 1069, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item:hover {
  background-color: rgba(236, 178, 53, 0.7);
  background-size: 101%;
}

/* line 1073, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__block .blog__item:hover .blog__arrow {
  opacity: 1;
}

@media (min-width: 767.98px) {
  /* line 1079, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__block .blog__item:nth-child(1), .blog .blog__container .blog__block .blog__item:nth-child(2), .blog .blog__container .blog__block .blog__item:nth-child(3), .blog .blog__container .blog__block .blog__item:nth-child(4) {
    width: 33.33%;
    aspect-ratio: 480 / 336;
  }
  /* line 1082, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__block .blog__item:nth-child(1) .blog__arrow, .blog .blog__container .blog__block .blog__item:nth-child(2) .blog__arrow, .blog .blog__container .blog__block .blog__item:nth-child(3) .blog__arrow, .blog .blog__container .blog__block .blog__item:nth-child(4) .blog__arrow {
    width: 10%;
  }
  /* line 1086, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__block .blog__item:nth-child(5) {
    width: 66.6%;
  }
  /* line 1088, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__block .blog__item:nth-child(5) .blog__arrow {
    width: 5%;
  }
}

@media (max-width: 767.98px) {
  /* line 1096, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__block .blog__item:nth-child(3), .blog .blog__container .blog__block .blog__item:nth-child(5) {
    display: none;
  }
}

/* line 1103, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__btn {
  width: 16.675%;
  aspect-ratio: 243 / 118;
  padding-left: 1.8%;
  background-color: #ECB235;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8.05%;
  position: absolute;
  font-size: 14px;
  transform: translateY(-50%);
  transform: translateY(50%);
  align-self: flex-end;
}

/* line 82, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
.blog .blog__container .blog__btn button {
  background: transparent;
}

@media (max-width: 991.98px) {
  /* line 85, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__btn {
    font-size: 11px;
  }
  /* line 88, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__btn img {
    width: 20%;
  }
}

@media (max-width: 767.98px) {
  /* line 94, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__btn {
    font-size: 9px;
    padding-left: 4%;
    width: 28.675%;
  }
}

@media (max-width: 767.98px) {
  /* line 1103, ../../../../../Users/uladzislau/Kod/some tests/demoday-zadani/assets/src/styles/index.scss */
  .blog .blog__container .blog__btn {
    padding-left: 2%;
  }
}

/*# sourceMappingURL=index.css.map */